<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta charset="UTF-8">
    <title>BolsaDeEmpleo</title>
    <link href="/static/css/admon.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
     <link href="/static/css/empresa.css" rel="stylesheet">
</head>

<body class="body" background="/static/fondo1.jpg">
<br>
<br>
<div>
    <table1>
        <tr>
            <td><p align="center" class="p1">Administrador</p>
            </td>
        </tr>
        <form id="searchform">
            <input type="text" placeholder="Buscar aqu&iacute;..." required>
            <button type="submit">Buscar</button>
        </form>

        <br>
        <br>

    </table1>
    <div class="datagrid"><table>
        <thead><tr><th>Identificación</th><th>Estado</th><th>Asignar Rol</th><th>Seleccionar</th></tr></thead>
        <tfoot><tr><td colspan="4"><div id="paging"><ul><li><a href="#"><span>Atrás</span></a></li><li><a href="#" class="active"><span>1</span></a></li><li><a href="#"><span>2</span></a></li><li><a href="#"><span>3</span></a></li><li><a href="#"><span>4</span></a></li><li><a href="#"><span>5</span></a></li><li><a href="#"><span>Siguiente</span></a></li></ul></div></tr></tfoot>
        <tbody>
        <tr><td><a href="/empresa.html">ID</a></td>
            <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="aprobado">Aprobado</option>
                        <option value="rechazado">Rechazado</option>
                    </select>
                </label2>
            </td>
            <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="ciudadano">Ciudadano</option>
                        <option value="funcionario">Funcionario</option>
                        <option value="empresa">Empresa</option>
                        <option value="admon">Administrador</option>
                    </select>
                </label2>

            </td>
            <td>
                <form>
                    <input type="checkbox" name="seleccionar" value="seleccionar">

                </form>

            </td>
        </tr>
        <tr class="alt"><td></td>
            <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="aprobado">Aprobado</option>
                        <option value="rechazado">Rechazado</option>
                    </select>
                </label2>
            </td>



       <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="ciudadano">Ciudadano</option>
                        <option value="funcionario">Funcionario</option>
                        <option value="empresa">Empresa</option>
                        <option value="admon">Administrador</option>
                    </select>
                </label2>

       </td>
            <td>
                <form>
                    <input type="checkbox" name="seleccionar" value="seleccionar">

                </form>

            </td>
        </tr>
        <tr><td></td>
            <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="aprobado">Aprobado</option>
                        <option value="rechazado">Rechazado</option>
                    </select>
                </label2>
            </td>
            <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="ciudadano">Ciudadano</option>
                        <option value="funcionario">Funcionario</option>
                        <option value="empresa">Empresa</option>
                        <option value="admon">Administrador</option>
                    </select>
                </label2>

            </td>
            <td>
                <form>
                    <input type="checkbox" name="seleccionar" value="seleccionar">

                </form>

            </td>
        </tr>
        <tr class="alt"><td></td>
         <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="aprobado">Aprobado</option>
                        <option value="rechazado">Rechazado</option>
                    </select>
                </label2>
            </td>
            <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="ciudadano">Ciudadano</option>
                        <option value="funcionario">Funcionario</option>
                        <option value="empresa">Empresa</option>
                        <option value="admon">Administrador</option>
                    </select>
                </label2>

            </td>
            <td>
                <form>
                    <input type="checkbox" name="seleccionar" value="seleccionar">

                </form>

            </td>
        </tr>
        <tr><td></td>
            <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="aprobado">Aprobado</option>
                        <option value="rechazado">Rechazado</option>
                    </select>
                </label2>
            </td>
            <td>
                <label2>
                    <select>
                        <option selected>  </option>
                        <option value="ciudadano">Ciudadano</option>
                        <option value="funcionario">Funcionario</option>
                        <option value="empresa">Empresa</option>
                        <option value="admon">Administrador</option>
                    </select>
                </label2>

            </td>
            <td>
                <form>
                    <input type="checkbox" name="seleccionar" value="seleccionar">

                </form>

            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="button">
        <input type="submit"  value="Eliminar cuenta" />
    </div>
</div>
</body>
</html>